@page
@model TashasPizzeria.Pages.Forms.CustomPizzaModel

@{
}

<div class="text-center container">
    <h1>Create your own Pizza</h1>
    <form method="post" class="mx-auto mt-5 mb-5 px-5 pt-5 pb-5 rounded-5 col-4 bg-light ">
        <input type="text" class="text-center" asp-for="Pizza.PizzaName" placeholder="Pizza Name" />
        <br /><br />

        <input type="checkbox" asp-for="Pizza.TomatoPizzaSauce" placeholder="Tomato Pizza Sauce" id="TomatoPizzaSauce" onchange="handleCheckboxChange('TomatoPizzaSauce', 'TomatoPizzaSauce')" />
        <label for="TomatoPizzaSauce">Tomato Pizza Sauce</label>
        <br />

        <input type="checkbox" asp-for="Pizza.Cheese" placeholder="PizzaCheese" id="PizzaCheese" onchange="handleCheckboxChange('PizzaCheese', 'PizzaCheese')" />
        <label for="PizzaCheese">PizzaCheese</label>


        <br />

        @*<input type="checkbox" asp-for="Pizza.Pepperoni" placeholder="Pepperoni" id="PizzaPepperoni2" onchange="handleCheckboxChange('PizzaPepperoni2', 'PizzaPepperoni2')" />
        <label for="PizzaPepperoni2">PizzaPepperoni2</label>
        *@
        <input type="checkbox" asp-for="Pizza.Pepperoni" placeholder="Pepperoni" id="PepperoniCheckbox" onchange="handlePepperoniCheckboxChange()" />
        <label for="PepperoniCheckbox">Pepperoni</label>

        <br />

        <input type="checkbox" asp-for="Pizza.Ham" placeholder="Ham" />Ham
        <br />

        <input type="checkbox" asp-for="Pizza.Capsicum" placeholder="Capsicum" />Capsicum
        <br />

        <input type="checkbox" asp-for="Pizza.Mushroom" placeholder="Mushroom" />Mushroom
        <br /><br />

        <button class="btn btnColor mt-1" type="submit">Order Pizza</button>
    </form>

    =<div class="PizzaImageContainer container align-items-center canva">
        <div class="pizzaBase"></div>
        <div class="TomatoPizzaSauce"></div>
        <div class="PizzaCheese"></div>
        <div class="PizzaPepperoni1"></div>
        <div class="PizzaPepperoni2"></div>
        <div class="PizzaPepperoni3"></div>
        <div class="PizzaPepperoni4"></div>
        <div class="PizzaPepperoni5"></div>
        <div class="PizzaPepperoni6"></div>
    </div>

</div>


<style>
    /*Pizza form CSS art*/

    .canva {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .pizzaBase {
        width: 40vmin;
        height: 40vmin;
        background: #D1A843;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .active.TomatoPizzaSauce {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 37vmin;
        height: 37vmin;
        background: #CA4646;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 1; /* Ensures the pizza sauce appears on top */
    }


    .active.PizzaCheese {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30vmin;
        height: 30vmin;
        background: #F3E518;
        border-radius: 35%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 1; /* Ensures the pizza cheese appears on top */
    }


    .active.PizzaPepperoni1 {
        width: 5vmin;
        height: 5vmin;
        background: #850000;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .active.PizzaPepperoni2 {
        width: 5vmin;
        height: 5vmin;
        background: #8F1B1B;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 30%;
        left: calc(50% - 2.5vmin); /* Adjust the left position to position it on the edge */
        z-index: 1; /* Ensures the pepperoni cheese appears on top */
    }

    .active.PizzaPepperoni3 {
        width: 5vmin;
        height: 5vmin;
        background: #8F1B1B;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: calc(50% - 20.5vmin); /* Adjust the left position to position it on the edge */
        z-index: 1; /* Ensures the pepperoni cheese appears on top */
    }

    .active.PizzaPepperoni4 {
        width: 5vmin;
        height: 5vmin;
        background: #8F1B1B;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: calc(100% - 40.5vmin); /* Adjust the left position to position it on the edge */
        z-index: 1; /* Ensures the pepperoni cheese appears on top */
    }

    .active.PizzaPepperoni5 {
        width: 5vmin;
        height: 5vmin;
        background: #8F1B1B;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: calc(100% - 40.5vmin); /* Adjust the left position to position it on the edge */
        z-index: 1; /* Ensures the pepperoni cheese appears on top */
    }

    .active.PizzaPepperoni6 {
        width: 5vmin;
        height: 5vmin;
        background: #8F1B1B;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: calc(100% - 2.5vmin); /* Adjust the left position to position it on the edge */
        z-index: 1; /* Ensures the pepperoni cheese appears on top */
    }

    }
</style>


<script>
    function handleCheckboxChange(checkboxId, elementClass) {
        const checkbox = document.getElementById(checkboxId);
        const element = document.querySelector(`.${elementClass}`);

        if (checkbox.checked) {
            element.classList.add('active');
        } else {
            element.classList.remove('active');
        }
    }


    function handlePepperoniCheckboxChange() {
        const checkbox = document.getElementById('PepperoniCheckbox');
        const pepperoniElements = document.querySelectorAll('.PizzaPepperoni2, .PizzaPepperoni3, .PizzaPepperoni4, .PizzaPepperoni5, .PizzaPepperoni6');

        pepperoniElements.forEach(element => {
            if (checkbox.checked) {
                element.classList.add('active');
            } else {
                element.classList.remove('active');
            }
        });
    }
</script>



