@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center text-capitalize">
    <h1 class="display-4 text-black">Welcome to Tasha's Pizzeria!</h1>
    <h3 class="mainSubtitle">Customize your pizza exactly to your liking</h3>
    <img class="mainImage" src="~/images/pizza-time.jpg" />
    <br />
    <a class="btn btnColor mt-1" asp-area="" asp-page="/Pizza">
            View Pizzas or create your own
    </a>
    



</div>
